/* Mulish Font */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* shared styles */
:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --third-color: #424247;
}

* {
    font-family: "Mulish", sans-serif;
    /* background-color: cadetblue; */
}

/* Header */
header {
    margin: 50px 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Header Left Column */
.header_col1 {
    color: var(--secondary-color);
    font-size: 36px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header_col1 > img {
    /* not used */
}
.header_col1 > div > span {
    color: var(--primary-color);
}

/* Header Right Column */
.header_col2 {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.header_col2_txt1 {
    color: var(--primary-color);
    font-weight: 700;
}
.header_col2_txt2 {
    color: var(--third-color);
}

/* Main */
main {
    margin: 50px 135px;
}

/* Main Section 1 */
.ms1 {
    height: 500px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ms1_txt1, #ms1_txt2 {
    color: white;
    font-size: 65px;
    font-weight: 800;
}
#ms1_txt1 {
    margin-top: 105px;
    margin-bottom: 25px;
}
#ms1_txt2 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* Main Section 1 - Find Now */
.ms1_find {
    display: inline-flex;
    align-items: flex-start;
    padding: 16px;
    gap: 25px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 48px;
}
.ms1_find1, .ms1_find2, .ms1_find3, .ms1_find4 {
    background-color: white;
    color: rgba(19, 19, 24, 0.50);
    height: 30px;
    border-radius: 8px;
    padding: 15px 0px 15px 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: left;
}
.ms1_find1 {padding-right: 85px;}
.ms1_find2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ms1_find2 > svg {
    padding-left: 75px;
    padding-right: 15px;
}
.ms1_find3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ms1_find3 > svg {
    padding-left: 75px;
    padding-right: 15px;
}
.ms1_find4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}
.ms1_find4 > h3 { padding-right: 35px; color: white; }
.ms1_find4 > svg { padding-left: 20px; padding-right: 8px; }

/* Main Section 2 */
.ms2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 0px;
    gap: 50px;
}

/* main section - column 1 */
.ms2_col1 {
    color: var(--third-color);
    font-size: 16px;
}
.ms2_col1 > h3 {
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}
.ms2_col1 p {
    margin-bottom: 25px;
}
.ms2_col1 ul li {
    margin-bottom: 15px;
}
.ms2_col1 > button {
    margin-top: 10px;
    border-radius: 8px;
    border: 0px;
    padding: 14px 35px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    background-color: var(--primary-color);
}

/* main section - column 2 */
.ms2_col2 {
    /* not used */
}
.ms2_col2 img {
    height: inherit;
    width: inherit;
}

/* Main Section 3 */
.ms3 {
    margin-bottom: 100px;
}

.ms3 > h3 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0px;
}
.ms3 > p {
    color: var(--third-color);
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}

/* main section 3 image */
.ms3_image_section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#maldives, #indonesia, #srilanka, #north_america, #kashmir, #bangladesh, #bandarban {
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main section 3 image division 1 */
.ms3_img_sec_div1 {
    display: flex;
    gap: 25px;
    height: 300px;
    width: auto;
}
#maldives {
    width: 50%;
    height: inherit;
    border-radius: 16px;
    background-image: url(/Images/maldives.png);
    background-size: 100% 100%;
}
#indonesia {
    width: 50%;
    height: inherit;
    border-radius: 16px;
    background-image: url(/Images/indonesia.png);
    background-size: 100% 100%;
}

/* main section 3 image division 2 */
.ms3_img_sec_div2 {
    display: flex;
    gap: 25px;
    height: 285px;
    width: auto;
}
#srilanka {
    width: 30%;
    height: inherit;
    border-radius: 16px;
    background-image: url(/Images/srilanka.png);
    background-size: 100% 100%;
}
#north_america {
    width: 40%;
    height: inherit;
    border-radius: 16px;
    background-image: url(/Images/north\ america.png);
    background-size: 100% 100%;
}
#kashmir {
    width: 30%;
    height: inherit;
    border-radius: 16px;
    background-image: url(/Images/kashmir.png);
    background-size: 100% 100%;
}

/* main section 3 image division 3 */
.ms3_img_sec_div3 {
    display: flex;
    gap: 25px;
    height: 300px;
    width: auto;
}
#bangladesh {
    width: 50%;
    height: inherit;
    border-radius: 16px;
    background-image: url(/Images/bangladesh.png);
    background-size: 100% 100%;
}
#bandarban {
    width: 50%;
    height: inherit;
    border-radius: 16px;
    background-image: url(/Images/bandarban.png);
    background-size: 100% 100%;
}

/* Main Section 4 */
.ms4 {
    /* not used */
}
.ms4 > h3 {
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 0px;
}
.ms4 > p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    text-align: center;
    margin-bottom: 45px;
}
.ms4_card_large_txt {
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 800;
}
.ms4_card_pera {
    color: #5A5A5D;
    font-size: 16px;
}
/* main section 4 row 1 */
.md4_row1 {
    display: flex;
    gap: 25px;
}

/* main section 4 row 1 card 1 */
.md4_card1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 55px 32px 32px;
}

/* main section 4 row 1 card 2 */
.md4_card2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px 55px 32px 32px;
}

/* main section 4 row 2 */
.md4_row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

/* main section 4 row 2 card 3 */
.md4_card3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px 55px 32px 32px;
    width: 41%;
}

/* Main Section 5 */
.ms5 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.ms5 > h3 {
    margin-top: 0px;
    margin-bottom: 25px;
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.ms5 > p {
    margin-bottom: 50px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    text-align: center;
}

/* main section 5 card 1 */
.ms5_card1 {
    background-image: url(/Images/Group\ 39.png);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 55px;
    margin-bottom: 25px;
}

/* main section 5 card elements */
.ms5_card_div {
    border: 2px solid #FFF;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    width: 35%;
}

.ms5_card_div > div {display: flex;  gap: 8px;}
.ms5_card_div > div > div {margin-right: 24px; color: #5A5A5D; font-size: 16px;}
.ms5_card_div > h3 {color: var(--secondary-color); font-size: 24px; font-weight: 800;}
.ms5_card_div > p {color: #5A5A5D; font-size: 16px;}
#ms5_card_div_price {color: var(--primary-color); font-size: 20px;font-weight: 800;}
.ms5_card_div > button {
    border: 0px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    background-color: var(--primary-color);
    padding: 14px 25px;
}

/* main section 5 card 2 */
.ms5_card2 {
    background-image: url(/Images/Group\ 40.png);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 55px;
    margin-bottom: 25px;
}

/* main section 5 card 3 */
.ms5_card3 {
    background-image: url(/Images/Group\ 39.png);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 55px;
}

/* div created for button on cente */
.ms5_button_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms5_button_section > button {
    border: 0px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    background-color: var(--primary-color);
    padding: 14px 22px;
    margin-top: 50px;
}

/* Main Section 6 */
.ms6 {
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 500px;
}

/* main section 6 column 1 */
.ms6_flex_col1 {
    width: 50%;
} 
.ms6_flex_col1 > h3 {margin-bottom: 0px; color: var(--secondary-color); font-size: 40px; font-weight: 800;}
.ms6_flex_col1 > p {margin-top: 24px; margin-bottom: 24px;color:  #5A5A5D; font-size: 20px;}
.ms6_flex_col1 > ul li {margin-bottom: 16px;color: #131318; font-size: 20px; font-weight: 700;}
.ms6_flex_col1 > button {
    color: white;
    font-size: 20px;
    font-weight: 800;
    background-color: var(--primary-color);
    border: 0px;
    border-radius: 8px;
    padding: 14px 42px;
    margin-top: 30px;
}

/* main section 6 column 2 */
.ms6_flex_col2 {
    background-image: url(/Images/Group\ 40089.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50%;
    padding: 0px 25px 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* middle text */
#ms6_flex_col2_row1 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    justify-content: center;
}
/* bottom */
#ms6_flex_col2_row2 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 18px;
    top: 35%;
}
/* controls */
#ms6_vc_row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
/* controls items 1 */
#ms6_vc_row1_items_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}
#ms6_vc_row1_items_1 > div {
    color: #F3F3F3;
    font-family: Inter;
    font-size: 14px;
    text-align: center;
    margin-left: 12px;
}
/* controls items 2 */
#ms6_vc_row1_items_2 {
    display: flex;
    gap: 16px;
}
/* loop */
#ms6_vc_row2 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
#vc_longline {
    width: inherit;
    height: 4px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
#vc_sortline {
    width: 10%;
    height: 4px;
    border-radius: 8px;
    background-color: white;
}

/* Footer */
footer {
    /* not used */
}

/* Footer Section 1 */
.fs1 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 100px 135px;
}

/* footer section column 1 */
#fs1_col1 {
    border-radius: 16px;
    border: 1px solid var(--primary-color);
    padding: 40px;
    width: 40%;
    display: flex;
    flex-direction: column;
}
#fs1_col1 > h3 {color: var(--secondary-color); font-size: 35px; font-weight: 800; margin-top: 0px;}
#fs1_col1 > p {margin-top: 0px; color: #5A5A5D; font-size: 26px;}
#fs1_col1 > hr {height: 1px; width: 100%; border: 0px; background: rgba(19, 19, 24, 0.10);}
#fs1_col1 > input {
    border: 0px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 26px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
}
#fs1_col1 > button {
    border: 0px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: #FFF;
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    padding: 14px 0px;
}

/* footer section column 2 */
#fs1_col2 {
    border-radius: 16px;
    background: url(/Images/Rectangle\ 8\ \(1\).png) lightgray 50% / cover no-repeat;
    background-size: 100% 100%;
    width: 60%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

}
#fs1_col2 > div {
    background-color: var(--primary-color);
    width: fit-content;
    height: fit-content;
    border-radius: 16px;
    padding: 12px 45px;
    transform: rotate(-19.628deg);
    margin-bottom: 50px;
    margin-right: 10px;
}
#fs1_col2 > div > h3 {color: white; margin-bottom: 0px; font-size: 25px;}
#fs1_col2 > div > h2 {color: white; margin-top: 4px; font-size: 32px; font-weight: 800;}

/* Footer Section 2 */
.fs2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(19, 19, 24, 0.05);
    padding-top: 110px;
    padding-bottom: 110px;
}
.fs2 > p {color: #5A5A5D; text-align: center; font-size: 16px; margin-top: 15px;}
.fs2 > svg {margin-top: 30px; margin-bottom: 50px;}
.fs2 > hr {margin-bottom: 50px; border: 0px; height: 2px; width: 50%; background: rgba(19, 19, 24, 0.10);} 
.fs2 > div {color: var(--secondary-color); font-family: Inter; font-size: 16px; font-weight: 300;}

/* Responsible design for mobile devices */
@media screen and (max-width: 576px) {
    
    /* Header */
    header {margin: 18px 20px;}
    .header_col1 {font-size: 25px;}
    .header_col1 > img {height: 80%;}
    .header_col2 {display: none;}

    /* Main Section */
    main {
        margin: 18px 20px;
    }

    /* Main Section 1 */
    .ms1 {
        background-size: initial;
        background-position: center;
    }
    #ms1_txt1 {font-size: 22px; margin-bottom: 0px; margin-top: 30px;}
    #ms1_txt2 {font-size: 15px; }   

    .ms1_find {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 15px;
        margin-bottom: 0px;
        padding: 0px;
        width: 80%;
        padding: 16px;
    }

    .ms1_find1, .ms1_find2, .ms1_find3, .ms1_find4 {
        padding: 10px 0px 10px 10px;
    }
    .ms1_find1 {width: 100%;}
    .ms1_find2 {width: 100%;}
    .ms1_find3 {width: 100%;}
    .ms1_find4 {width: 100%; justify-content: center;}

    /* Main Section 2 */
    .ms2 {flex-direction: column; margin-top: 0px; margin-bottom: 50px;}
    .ms2_col2 img {width: 100%; height: 100%;}

    /* Main Section 3 */
    .ms3 {margin-bottom: 50px;}
    .ms3 > h3 {font-size: 20px;}
    .ms3 > p {font-size: 15px;}

    #maldives, #indonesia, #srilanka, #north_america, #kashmir, #bangladesh, #bandarban {
        font-size: 20px;
        font-weight: 700;
        width: 100%;
        height: 200px;
    }

    .ms3_img_sec_div1, .ms3_img_sec_div2, .ms3_img_sec_div3  {
        flex-direction: column;
        height: 100%;
    }

    /* Main Section 4 */
    .ms4 > h3 {font-size: 20px;}
    .ms4 > p {font-size: 14px;}
    .ms4_card_large_txt {font-size: 20px;}
    .ms4_card_pera {font-size: 14px;}
    .md4_row1 {flex-direction: column;}
    .md4_row2 {flex-direction: column;}
    .md4_card3 {width: auto;}

    /* Main Section 5 */
    .ms5 {margin-top: 25px; margin-bottom: 50px;}
    .ms5 > h3 {font-size: 20px; margin-bottom: 20px;}
    .ms5 > p {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    /* main section 5 card elements */
    .ms5_card_div {
        width: 75%;
        padding: 24px;
        margin-bottom: 24px;
    }

    .ms5_card_div > div {margin-bottom: 0px; gap: 5px;}
    .ms5_card_div > h3 {
        margin-top: 10px; 
        margin-bottom: 10px;
        font-size: 20px;
    }
    .ms5_card_div > p {
        overflow: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 14px;
    }
    .ms5_card_div > div > div {
        margin-right: 0px; 
        font-size: 12px;
        display: flex;
        align-items: center;
        font-weight: 700;
    }
    #ms5_card_div_price {font-size: 16px;}
    .ms5_card_div > button {
        font-size: 18px;
        font-weight: 700;
        padding: 12px 18px;
    }

    /* main section 5 cards */
    .ms5_card1 {
        background-size: initial;
        background-position: center;
        border-radius: 16px;
        justify-content: center;
        align-items: flex-end;
        padding-right: 0px;
        height: 500px;
    }

    .ms5_card2 {
        background-size: initial;
        background-position: center;
        border-radius: 16px;
        justify-content: center;
        align-items: flex-end;
        padding-left: 0px;
        height: 500px;
    }

    .ms5_card3 {
        background-size: initial;
        background-position: center;
        border-radius: 16px;
        justify-content: center;
        align-items: flex-end;
        padding-right: 0px;
        height: 500px;
    }
    .ms5_button_section {display: none;}

    /* Main Section 6 */
    .ms6 {
        flex-direction: column;
        gap: 0px;
        height: auto;
    }

    .ms6_flex_col1 {width: 100%;}
    .ms6_flex_col1 > h3 {font-size: 20px; margin-top: 0px}
    .ms6_flex_col1 > p {font-size: 16px;}
    .ms6_flex_col1 > ul li {font-size: 16px;}
    .ms6_flex_col1 > button {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .ms6_flex_col2 {
        width: auto;
        height: 250px;
        padding: 0px 15px 0px 15px;
    }
    #ms6_flex_col2_row1 {font-size: 18px; position: relative; top: 10px;}
    #ms6_flex_col2_row2 {top: 26%;gap: 10px;}

    /* Footer Section */
    /* Footer Section 1 */
    .fs1 {
        flex-direction: column;
        margin: 18px 20px;
    }

    #fs1_col1 {width: auto; padding: 24px;}
    #fs1_col1 > h3 {font-size: 25px;}
    #fs1_col1 > p {font-size: 16px;}
    #fs1_col1 > input {font-size: 20px;}
    #fs1_col1 > button {font-size: 20px;}

    #fs1_col2 {width: auto; height: 300px;}
    #fs1_col2 > div {margin-bottom: 30px; margin-right: 3px; padding: 0px 25px;}
    #fs1_col2 > div > h3 {font-size: 15px; text-align: center;}
    #fs1_col2 > div > h2 {margin-top: 0px; font-size: 22px;}

    /* Footer Section 2 */
    .fs2 {padding: 35px 20px 35px 20px;}
    .fs2 > svg {margin-top: 10px; margin-bottom: 16px;}
    .fs2 > hr {margin-bottom: 24px; width: 100%;} 
    .fs2 > div {font-size: 14px;}
}