/* Mulish Font */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* shared styles */
:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --third-color: #424247;
}

* {
    font-family: "Mulish", sans-serif;
    /* background-color: cadetblue; */
}

/* Header */
header {
    margin: 50px 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Header Left Column */
.header_col1 {
    color: var(--secondary-color);
    font-size: 36px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_col1 > img {
    /* not used */
}
.header_col1 > div > span {
    color: var(--primary-color);
}

/* Header Right Column */
.header_col2 {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.header_col2_txt1 {
    color: var(--primary-color);
    font-weight: 700;
}
.header_col2_txt2 {
    color: var(--third-color);
}

/* Main */
main {
    margin: 50px 135px;
}

/* Main Section 1 */
.ms1 {
    height: 500px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ms1_txt1, #ms1_txt2 {
    color: white;
    font-size: 65px;
    font-weight: 800;
}
#ms1_txt1 {
    margin-top: 105px;
    margin-bottom: 25px;
}
#ms1_txt2 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* Main Section 1 - Find Now */
.ms1_find {
    display: inline-flex;
    align-items: flex-start;
    padding: 16px;
    gap: 25px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 48px;
}
.ms1_find1, .ms1_find2, .ms1_find3, .ms1_find4 {
    background-color: white;
    color: rgba(19, 19, 24, 0.50);
    height: 30px;
    border-radius: 8px;
    padding: 15px 0px 15px 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: left;
}
.ms1_find1 {padding-right: 85px;}
.ms1_find2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ms1_find2 > svg {
    padding-left: 75px;
    padding-right: 15px;
}
.ms1_find3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ms1_find3 > svg {
    padding-left: 75px;
    padding-right: 15px;
}
.ms1_find4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}
.ms1_find4 > h3 { padding-right: 35px; color: white; }
.ms1_find4 > svg { padding-left: 20px; padding-right: 8px; }

/* Main Section 2 */
.ms2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 0px;
    gap: 50px;
}

/* main section - column 1 */
.ms2_col1 {
    color: var(--third-color);
    font-size: 16px;
}
.ms2_col1 > h3 {
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}
.ms2_col1 p {
    margin-bottom: 25px;
}
.ms2_col1 ul li {
    margin-bottom: 15px;
}
.ms2_col1 > button {
    margin-top: 10px;
    border-radius: 8px;
    border: 0px;
    padding: 14px 35px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    background-color: var(--primary-color);
}

/* main section - column 2 */
.ms2_col2 {
    /* not used */
}
.ms2_col2 img {
    height: inherit;
    width: inherit;
}

/* Main Section 3 */
.ms3 {
    /* not used */
    margin-bottom: 100px;
}

.ms3 > h3 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0px;
}
.ms3 > p {
    color: var(--third-color);
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}

/* main section 3 image */
.ms3_image_section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#maldives, #indonesia, #srilanka, #north_america, #kashmir, #bangladesh, #bandarban {
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main section 3 image division 1 */
.ms3_img_sec_div1 {
    display: flex;
    gap: 25px;
    height: 300px;
    width: auto;
}
#maldives {
    width: 50%;
    height: inherit;
    border-radius: 16px;
    background-image: url(/Images/maldives.png);
    background-size: 100% 100%;
}
#indonesia {
    width: 50%;
    height: inherit;
    border-radius: 16px;
    background-image: url(/Images/indonesia.png);
    background-size: 100% 100%;
}

/* main section 3 image division 2 */
.ms3_img_sec_div2 {
    display: flex;
    gap: 25px;
    height: 285px;
    width: auto;
}
#srilanka {
    width: 30%;
    height: inherit;
    border-radius: 16px;
    background-image: url(/Images/srilanka.png);
    background-size: 100% 100%;
}
#north_america {
    width: 40%;
    height: inherit;
    border-radius: 16px;
    background-image: url(/Images/north\ america.png);
    background-size: 100% 100%;
}
#kashmir {
    width: 30%;
    height: inherit;
    border-radius: 16px;
    background-image: url(/Images/kashmir.png);
    background-size: 100% 100%;
}

/* main section 3 image division 3 */
.ms3_img_sec_div3 {
    display: flex;
    gap: 25px;
    height: 300px;
    width: auto;
}
#bangladesh {
    width: 50%;
    height: inherit;
    border-radius: 16px;
    background-image: url(/Images/bangladesh.png);
    background-size: 100% 100%;
}
#bandarban {
    width: 50%;
    height: inherit;
    border-radius: 16px;
    background-image: url(/Images/bandarban.png);
    background-size: 100% 100%;
}

/* Main Section 4 */
.ms4 {
    /* not used */
}
.ms4 > h3 {
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 0px;
}
.ms4 > p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    text-align: center;
    margin-bottom: 45px;
}
.ms4_card_large_txt {
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 800;
}
.ms4_card_pera {
    color: #5A5A5D;
    font-size: 16px;
}
/* main section 4 row 1 */
.md4_row1 {
    display: flex;
    gap: 25px;
}

/* main section 4 row 1 card 1 */
.md4_card1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 55px 32px 32px;
}

/* main section 4 row 1 card 2 */
.md4_card2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px 55px 32px 32px;
}

/* main section 4 row 2 */
.md4_row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

/* main section 4 row 2 card 3 */
.md4_card3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px 55px 32px 32px;
    width: 41%;
}

/* Main Section 5 */
.ms5 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.ms5 > h3 {
    margin-top: 0px;
    margin-bottom: 25px;
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.ms5 > p {
    margin-bottom: 50px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    text-align: center;
}

/* main section 5 card 1 */
.ms5_card1 {
    background-image: url(/Images/Group\ 39.png);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 55px;
    margin-bottom: 25px;
}

/* main section 5 card elements */
.ms5_card_div {
    border: 2px solid #FFF;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    width: 35%;
}

.ms5_card_div > div {display: flex;  gap: 8px;}
.ms5_card_div > div > div {margin-right: 24px; color: #5A5A5D; font-size: 16px;}
.ms5_card_div > h3 {color: var(--secondary-color); font-size: 24px; font-weight: 800;}
.ms5_card_div > p {color: #5A5A5D; font-size: 16px;}
#ms5_card_div_price {color: var(--primary-color); font-size: 20px;font-weight: 800;}
.ms5_card_div > button {
    border: 0px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    background-color: var(--primary-color);
    padding: 14px 25px;
}

/* main section 5 card 2 */
.ms5_card2 {
    background-image: url(/Images/Group\ 40.png);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 55px;
    margin-bottom: 25px;
}

/* main section 5 card 3 */
.ms5_card3 {
    background-image: url(/Images/Group\ 39.png);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 55px;
}

/* div created for button on cente */
.ms5_button_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms5_button_section > button {
    border: 0px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    background-color: var(--primary-color);
    padding: 14px 22px;
    margin-top: 50px;
}

/* Main Section 6 */
/* Footer */